<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    
    <add key="ConfigManagerServiceUrl" value="http://tge36appsrv/Org.Apps.ConfigManager.Service/api/" />
    <add key="AuthManagerServiceUrl" value="http://tge36appsrv/Org.Apps.AuthManager.Service/api/" />
    <add key="DeployManagerServiceUrl" value="http://tge36appsrv/Org.Apps.DeployManager.Service/api/" />
    <add key="DiagnosticServiceUrl" value="http://tge36appsrv/Org.Apps.Diagnostics.Service/api/products" />
    <add key="LogManagerServiceUrl" value="http://tge36appsrv/Org.Apps.LogManager.Service/api/" />
    <add key="DeployManagerServiceUrl" value="http://tge36appsrv/Org.Apps.DeployManager.Service/api/" />
    <add key="LicenseManagerServiceUrl" value="http://tge36appsrv/Org.Apps.LicenseManager.Service/api/" />

    <!--log services for every sm modules-->
    <add key="ConfigManagerServiceLogUrl" value="AppsParameterService/" />
    <add key="AuthManagerServiceLogUrl" value="UserService/" />
    <add key="DiagnosticServiceLogUrl" value="/" />
    <add key="LogManagerServiceLogUrl" value="AppsModuleService/" />
    <add key="DeployManagerServiceLogUrl" value="DeploymentService/" />
    <add key="WeatherForecastLogUrl" value="WeatherForecast/" />
    <add key="ExchangeRatesLogUrl" value="Currency/" />
    <add key="LicenseManagerServiceLogUrl" value="LicenseService/" />
  </appSettings>

  <system.web>
    <customErrors xdt:Transform="Replace" mode="Off">
    </customErrors>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>