<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <customErrors xdt:Transform="Replace" mode="Off" />
    <identity xdt:Transform="Insert" impersonate="true" password="Tzx77Ldr77" userName="tge36"/>
  </system.web>
  <connectionStrings xdt:Transform="Replace">
    <add name="UpgradeDb" connectionString="Data Source=tge36dbsrv;Initial Catalog=NIPPS_SM;Integrated Security=False;User ID=sa;Password=Tzx77Ldr77;Connection Timeout=5" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings xdt:Transform="Replace">
    <add key="LogManagerServiceUrl" value="http://tge36appsrv/Netas.Nipps.LogManager.Service/api/NippsModuleService/" />
    <add key="ConfigManagerServiceUrl" value="http://tge36appsrv/Netas.Nipps.ConfigManager.Service/api/NippsParameterService/" />
  </appSettings>
</configuration>