<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <connectionStrings>
    <add name="UpgradeDb" connectionString="Data Source=(localdb)\NIPPS_SM;Initial Catalog=NIPPS_SM;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LogManagerServiceUrl" value="http://tge36appsrv/Netas.Nipps.LogManager.Service/api/NippsModuleService/" />
    <add key="ConfigManagerServiceUrl" value="http://tge36appsrv/Netas.Nipps.ConfigManager.Service/api/NippsParameterService/" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" maxRequestLength="32000" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <remove fileExtension=".log" />
      <remove fileExtension=".zip" />
      <mimeMap fileExtension=".log" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".zip" mimeType="application/octet-stream" />
    </staticContent>
  </system.webServer>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target xsi:type="File" name="f" archiveEvery="Day" archiveAboveSize="100000000" maxArchiveFiles="5" archiveNumbering="Sequence" archiveFileName="${basedir}logs\Netas.Nipps.DeployManager.Service.${shortdate}.{#}.log" fileName="${basedir}logs\Netas.Nipps.DeployManager.Service.${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${processid} ${threadid} ${callsite} ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="f" />
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.1.0" newVersion="3.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.10.0" newVersion="4.1.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>