<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="LogManagerServiceUrl" value="http://tge36appsrv/Netas.Nipps.LogManager.Service/api/NippsModuleService/" />
    <add key="ConfigManagerServiceUrl" value="http://tge36appsrv/Netas.Nipps.ConfigManager.Service/api/NippsParameterService/" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>