<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="LogManagerServiceUrl" value="http://tge36appsrv/Org.Apps.LogManager.Service/api/AppsModuleService/" />
    <add key="ConfigManagerServiceUrl" value="http://tge36appsrv/Org.Apps.ConfigManager.Service/api/AppsParameterService/" />
  </appSettings>
  <system.web>
  </system.web>
</configuration>