<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="LogManagerServiceUrl" value="http://tge36appsrv/Org.Apps.LogManager.Service/api/AppsModuleService/" />
    <add key="ConfigManagerServiceUrl" value="http://tge36appsrv/Org.Apps.ConfigManager.Service/api/AppsParameterService/" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" maxRequestLength="32000" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    
    <staticContent>
      <remove fileExtension=".log" />
      <remove fileExtension=".zip" />
      <mimeMap fileExtension=".log" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".zip" mimeType="application/octet-stream" />
    </staticContent>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target xsi:type="File" name="f" archiveEvery="Day" archiveAboveSize="100000000" maxArchiveFiles="5" archiveNumbering="Sequence" archiveFileName="${basedir}logs\Org.Apps.LicenseManager.Service.${shortdate}.{#}.log" fileName="${basedir}logs\Org.Apps.LicenseManager.Service.${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${processid} ${threadid} ${callsite} ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="f" />
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>