
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Resources.Global.MenuMainPage</h1>
            </hgroup>
        </div>
    </section>
}
