<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <appSettings xdt:Transform="Replace">
    <add key="LogManagerServiceUrl" value="http://tge36appsrv/Org.Apps.LogManager.Service/api/AppsParameterService/"/>
    <add key="ConfigManagerServiceUrl" value="http://tge36appsrv/Org.Apps.ConfigManager.Service/api/AppsParameterService/"/>
    <add key="PasswordNotificationTemplate"
         value="
Merhaba

Ip Telefon servislerini kullanmak için kullanıcı bilgileriniz oluşturuldu.  

Sisteme aşağıdaki bilgileri kullanarak, {0} e kadar giriş yapabilirsiniz.

{1}

IP Telefon Servisleri http://hostip:port/Org.Apps.SystemManager.Presentation/
"/>
  </appSettings>
  
  <system.web>

  </system.web>
</configuration>