<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <appSettings>
    <add key="LogManagerServiceUrl" value="http://localhost:1472/Org.Apps.LogManager.Service/api/AppsModuleService/" />
  </appSettings>

  <connectionStrings>
    <!--<add name="OrgIppsDb" connectionString="Data Source=(localdb)\Apps_SM;Initial Catalog=Apps_SM;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
    <add name="OrgIppsDb" connectionString="Data Source=tge36dbsrv;Initial Catalog=Apps_SM;Integrated Security=False;User ID=Appsuser;Password=Appspwd;Connection Timeout=5" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.webServer>

    <staticContent>
      <remove fileExtension=".log" />
      <mimeMap fileExtension=".log" mimeType="application/octet-stream" />
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target xsi:type="File" name="f" archiveEvery="Day" archiveAboveSize="100000000" maxArchiveFiles="5" archiveNumbering="Sequence" archiveFileName="${basedir}logs\Org.Apps.ConfigManager.Service.${shortdate}.{#}.log" fileName="${basedir}logs\Org.Apps.ConfigManager.Service.${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${processid} ${threadid} ${callsite} ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="f" />
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.1.0" newVersion="3.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.13.0" newVersion="4.1.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>